@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para el video de fondo */
.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  object-fit: cover;
  filter: brightness(0.7);
}

/* Asegura que el contenido de React esté sobre el video */
#root > div {
  position: relative;
  z-index: 1;
}